<div class="card-content">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <span>{{position}}</span>
    </div>
    <div class="card-desc">
        <h3>{{destino.nombre}}</h3>
        <p>servicios</p>
        <ul>
            <li *ngFor="let s of destino.servicios">
                <span [ngSwitch]="s">
                <i *ngSwitchCase="'desayuno'" style="color: red;">{{s}}</i>
                <i *ngSwitchDefault>{{s}}</i>
                </span>
            </li>
        </ul>
        <div>
            <a href="#" (click)="voteUp()"><i class="far fa-thumbs-up"></i></a>
            <a href="#" (click)="voteDown()"><i class="far fa-thumbs-down"></i></a>
            {{destino.votes}}
        </div>
        <a href="#" class="btn-card" (click)="ir()">ir</a>
        <span *ngIf="destino.isSelected()">
            <span > - PREFERIDO -</span>
        </span>
        <a [routerLink]="['/destino']">Ver Detalle</a>
    </div>
</div>

